@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.home {
  @include flex-display($direction: column);
  gap: 5rem;
  width: 100%;
}

.intro {
  @include flex-display($justify: start);
  position: relative;
  width: 100%;
  height: 40rem;
  padding: 1rem 5rem;

  &_video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
  }

  &_description {
    z-index: 10;

    h1 {
      font-size: 6rem;
      color: white;
    }

    p {
      font-size: 1.5rem;
      width: 50%;
      margin-top: 1rem;
      color: white;
    }
  }
}

.movies {
  @include flex-display($direction: col);
  gap: 3rem;
  width: 100%;
  padding: 0 5rem;

  &-switcher {
    @include flex-display();

    width: fit-content;
    border-top: 2px solid #242424;
    border-bottom: 2px solid #242424;
    font-size: 1.3rem;
    padding: 0.2rem;

    &-active {
      transition: 0.3s all ease-in-out;
      background-color: $secondary-light;
      color: white;
      font-weight: 600;
    }
    &:hover {
      cursor: pointer;
    }

    p {
      padding: 0.6rem 3rem;
    }
  }

  &-list {
    padding: 0 3rem;
    width: 100%;

    &-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      align-items: start;
      gap: 3rem;
    }

    p {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.options {
  @include flex-display($justify: space-between);
  width: 100%;

  &_view,
  &_table,
  &_grid {
    @include flex-display();
    border-radius: $radius-sm;
  }

  &_view {
    //border: 2px solid $primary;
    background-color: $secondary-light;
  }

  &_table,
  &_grid {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  &_switch_active {
    background-color: $secondary;
    transform: scale(1.02);
  }
}
