@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.home {
  width: 100%;
}

.intro {
  @include flex-display($justify: start);
  position: relative;
  width: 100%;
  height: 40rem;
  padding: 1rem 5rem;

  &_video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
  }

  &_description {
    z-index: 10;
    color: white;

    h1 {
      font-size: 6rem;
    }

    p {
      font-size: 1.5rem;
      width: 50%;
      margin-top: 1rem;
    }
  }
}

.movies {
  @include flex-display($direction: col);
  gap: 3rem;
  margin-top: 5rem;
  width: 100%;
  padding: 0 5rem;

  &_list {
    margin: 5rem 0;
    padding: 0 3rem;

    &-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      align-items: start;
      gap: 3rem;
    }
  }
}

.options {
  @include flex-display($justify: space-between);
  width: 100%;

  &_view,
  &_table,
  &_grid {
    @include flex-display();
    border-radius: $radius-sm;
  }

  &_view {
    //border: 2px solid $primary;
    background-color: $secondary-light;
  }

  &_table,
  &_grid {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  &_switch_active {
    background-color: $secondary;
    transform: scale(1.02);
  }
}
