@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.home {
  @include flex-display($direction: column);
  gap: 5rem;
  width: 100%;
}

.movies {
  @include flex-display($direction: col);
  gap: 3rem;
  width: 100%;
  padding: 0 5rem;

  &-switcher {
    @include flex-display();

    width: fit-content;
    border-top: 2px solid #242424;
    border-bottom: 2px solid #242424;
    font-size: 1.3rem;
    padding: 0.2rem;

    &-active {
      transition: 0.3s all ease-in-out;
      background-color: $secondary-light;
      color: white;
      font-weight: 600;
    }
    &:hover {
      cursor: pointer;
    }

    p {
      padding: 0.6rem 3rem;
    }
  }

  &-list {
    padding: 0 3rem;
    width: 100%;

    &-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      align-items: start;
      gap: 3rem;
    }

    &-warning {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.options {
  @include flex-display($justify: space-between);
  width: 100%;

  &_view,
  &_table,
  &_grid {
    @include flex-display();
    border-radius: $radius-sm;
  }

  &_view {
    //border: 2px solid $primary;
    background-color: $secondary-light;
  }

  &_table,
  &_grid {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  &_switch_active {
    background-color: $secondary;
    transform: scale(1.02);
  }
}

.pagination-controls {
  @include flex-display();
  gap: 2rem;

  span {
    font-size: 1.4rem;
  }

  button {
    background-color: $secondary;
    border: none;
    border-radius: 20rem;
    padding: 0.7rem 1.3rem;
    color: white;
    font-size: 1.8rem;

    &:hover {
      filter: brightness(80%);
      cursor: pointer;
    }

    &:disabled {
      background-color: $secondary-light;
      cursor: default;
      filter: brightness(100%);
    }
  }
}
