@import "src/styles/variables.scss";

.searchbar {
  background: transparent;
  border: 2px solid $primary;
  border-radius: $radius-sm;
  padding: 0.8rem 2rem;
  outline: none;
  width: 70%;
  font-size: 1.2rem;
}
