@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.searchbar {
  @include flex-display();

  background: transparent;
  border: 2px solid $primary;
  border-radius: $radius-sm;
  width: 100%;
  font-size: 1.2rem;

  @include lg {
    width: 70%;
  }

  input {
    padding: 0.8rem 2rem;
    outline: none;
    width: 100%;
  }

  &_name {
    width: 100%;
  }
}
