@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.movie-table {
  width: 100%;
  border: 2px solid $primary;
  border-radius: $radius-md;
  overflow: hidden;

  &_head {
    background-color: $primary;
    color: white;

    th {
      padding: 1rem;
      border: 2px solid $primary;
      border-radius: $radius-md;
    }
  }

  tr,
  th,
  td {
    text-align: center;
    font-size: 1.3rem;
  }

  &_cell {
    font-size: 1.3rem;

    &-title {
      font-weight: bold;
    }

    &-wrapper {
      transition: all 0.2s ease-in;

      &:hover {
        transform: scale(1.01);
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.13);
        box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.1);
      }
    }

    img {
      width: 150px;
      height: 100px;
      object-fit: cover;
    }
  }
}
