:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::placeholder {
  color: #adadad;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout_content {
  max-width: 1920px;
  width: 100%;
}
